.error {
    color: red;
}

.user {
    color: teal;
}

dialog::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25);
}

orb-graph {
    border: 1px solid #000;
    border-radius: 10px;
    display: block;
    width: 500px;
    height: 500px;
}
